body {
     background-color: RosyBrown;
     background-size: cover;
     text-align: center;
	 background: url("https://thumbs.dreamstime.com/z/funny-kittens-peeking-white-background-80383765.jpg");
}

#title {
  padding: .5em .5em .2em .5em;
  margin: .5em;
  font-size: 20px;
  font-family: "Pacifico", sans-serif;
  
}
 h1 {
    font-family: "Pacifico", sans-serif;
	text-align: center;
	color: darkgray;
	padding: 20px;
	font-size: 40px;
 }
 input { 
	display: inline-block;
	font-style: italic ;
	font-family: "Times New Roman";
	color: darkgray;
	text-align: center;
	padding: 8px;
	font-size: 20px;
}

form, #form2, #form3, #form4, #form5, #form6 {
  padding: 5px;
  text-align: center;
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 1em;
  line-height: 3em;
}

 p { 
	 font-style: italic ;
	 font-family: "Times New Roman";
	 color: darkgray;
	 text-align: center;
	 padding: 40 px;
	 font-size: 20 px;
	 line-height: 5em;
 }
 
  .submit-button {
	background-color: DarkGray;
    border-radius: 40px;
	color: white;
	font-family: "Pacifico", sans-serif;
	font-size: 20px;
	padding: 20px;
  }
 
	
 @media only screen and (max-width: 600px) {
body {
	
     background-image: url("https://thumbs.dreamstime.com/z/funny-kittens-peeking-white-background-80383765.jpg");
     background-repeat: no-repeat;
     background-size: 350px 800px;
     width: 75%;
  }       
  
	 p { 
	 font-style: italic ;
	 font-family: "Times New Roman";
	 color: darkgray;
	 text-align: center;
	 padding: 20 px;
	 font-size: 20 px;
	 }
 }