@media only screen and (min-width: 0px) {
body {
     background-color: RosyBrown;
     background-size: cover;
     text-align: center;
	 background: url("https://thumbs.dreamstime.com/z/funny-kittens-peeking-white-background-80383765.jpg");
}

#title {
  padding: .5em .5em .2em .5em;
  margin: .5em;
  font-size: 20px;
  font-family: "Pacifico", sans-serif;
  
}
 h1 {
    font-family: "Pacifico", sans-serif;
	text-align: center;
	color: darkgray;
	padding: 20px;
	font-size: 40px;
 }
	p { 
	font-style: italic ;
	font-family: "Times New Roman";
	color: darkgray;
	text-align: center;
	padding: 20px;
	font-size: 20px;
}

  .submit-button {
	background-color: DarkGray;
    border-radius: 40px;
	color: white;
	font-family: "Pacifico", sans-serif;
	font-size: 20px;
	padding: 15px;
  }
 
 @media only screen and (max-width: 600px) {
body {
	
  background-image: url("https://thumbs.dreamstime.com/z/funny-kittens-peeking-white-background-80383765.jpg");
  background-repeat: no-repeat;
  background-size: 350px 800px;
  width: 75%;
  }       
  
	 p { 
	 font-style: italic ;
	 font-family: "Times New Roman";
	 color: darkgray;
	 text-align: center;
	 padding: 20px;
	 font-size: 20px;
	 
  }
  
 }
